[GLOBAL]

wallpaper_basename = wallp


[reddit]

subreddit_list = earthporn, wallpapers, wallpaperdump, specart, quotesporn, offensive_wallpapers, backgroundart, desktoplego, wallpaper, animewallpaper, nocontext_wallpapers, musicwallpapers, comicwalls, ImaginaryLandscapes+ImaginaryMonsters+ImaginaryCharacters+ImaginaryTechnology


[imgur]


[google]



